@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@keyframes dark {
  from {
    background-color: #242b33;
  }
  50% {
    background-color: #1a2026;
  }
  to {
    background-color: #242b33;
  }
}
@keyframes move {
  from {
    margin-top: -20px;
    background: #d4c17f;
    color: #d4c17f;
  }
  to {
    margin-top: 0px;
    background: #807241;
    color: #807241;
  }
}
@keyframes move_hover {
  from {
    margin-top: -20px;
    background: #242b33;
    color: #242b33;
  }
  to {
    margin-top: 0px;
    background: #242b33;
    color: #242b33;
  }
}
/* Убираем все отступы и ставим коробку*/
* a {
  text-decoration: none;
  color: #fff;
  /*убираем декор текста*/
}
a:focus {
  outline: none;
  color: #d4c17f;
}
a:hover {
  color: #d4c17f;
}
ul {
  list-style-type: none;
}
button:active,
button:focus {
  outline: none;
  /*убираем линию таба(фокуса)*/
}

button::-moz-focus-inner {
  border: 0;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::-moz-details-marker {
  display: none;
}

details summary::-ms-details-marker {
  display: none;
}

details summary::-o-details-marker {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/*-убрали треугольник открывашку*/
img,
video,
embed,
object {
  max-width: 100%;
}
#logotipik {
  border-radius: 50%;
}
video {
  object-fit: inherit;
}
body {
  display: flex;
  flex-direction: column;
}
section,
.questions,
.map_area,
.video,
.first_section,
.second_section,
.third_section,
.fourth_section {
  display: flex;
}
.px1110,
.px794,
.px1115,
.px1100 {
  display: flex;
  margin: 0 auto;
}
.px1115 {
  width: 1115px;
}
.px1100 {
  width: 1100px;
}
.px1110 {
  width: 1110px;
}
.px794 {
  width: 794px;
}
p,
a,
span,
input,
button {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
}
h1 {
  font-size: 48px;
  line-height: 64px;
}
.first_section {
  flex-direction: column;
  min-height: 840px;
  background: linear-gradient(
      180deg,
      #1f3643 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #1f3643 92.19%
    ),
    url("img/1242_1.jpg") center;
}
.header {
  display: flex;
  min-height: 120px;
  padding: 40px;
}
.of_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu_list {
  display: flex;
  flex-direction: row;
}
.menu_list li {
  margin-left: 40px;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
/*header закончен*/
.main {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main > .h_b_div > h1 {
  text-align: center;
  margin-top: 125px;
  position: relative;
}
.h_b_div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.mouse {
  height: 40px;
  width: 23px;
  margin-top: 120px;
  background-color: transparent;
  border: 2px solid #d4c17f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.move_span {
  height: 7px;
  width: 2px;
  background: #d4c17f;
  color: #d4c17f;
  animation-duration: 1s;
  animation-name: move;
  animation-iteration-count: infinite;
}
.mouse:hover,
.mouse:focus {
  background-color: #d4c17f;
  border: 1px solid #807241;
}
.mouse:hover > .move_span,
.mouse:focus > .move_span {
  animation-name: move_hover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  line-height: 21px;
  width: 530px;
  margin-bottom: 74px;
}
.add,
.tel {
  position: relative;
}
.add::before {
  position: absolute;
  content: url("img/position.png");
  margin-left: -30px;
}
.tel::before {
  position: absolute;
  content: url("img/phone-call.png");
  margin-left: -30px;
}
/*Main закончен*/
.second_section {
  background: #1f3643;
  padding: 120px 0;
}
.of_ss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.four_about {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  align-items: center;
}
.four_about > img {
  height: 80px;
  width: 80px;
}
.four_about:last-child {
  margin-right: 0;
}
.four_about > p {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 53px;
  position: relative;
  max-width: 193px;
}
.four_about:nth-child(1):after {
  position: absolute;
  content: "II";
  right: 0;
  font-family: "Playfair Display";
  font-size: 400px;
  text-align: center;
  color: #ffffff;
  opacity: 0.02;
  margin-top: -147px;
}
/*Вторая секция готова*/
.third_section {
  padding: 100px 0;
  background-color: #1f3643;
}
.of_ts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.of_ts > div > h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
.apartments {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.apartments::before {
  content: "III";
  position: absolute;
  left: -135px;
  font-family: "Playfair Display";
  font-size: 400px;
  text-align: center;
  color: #ffffff;
  opacity: 0.02;
  margin-top: -165px;
  z-index: 1;
}
.lofts {
  height: 320px;
  width: 535px;
  margin-bottom: 30px;
  margin-right: 30px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  z-index: 2;
  align-items: flex-end;
  padding: 50px;
  filter: grayscale(5);
  transition: 0.5s;
}
.lofts:hover {
  transition: 0.55s;
  cursor: pointer;
  filter: grayscale(0);
}
.lofts:nth-child(2n) {
  margin-right: 0px;
}
.first_l {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #1f3643 100%),
    url("img/detskaya-malchikovaya-komnata-dizain-krasi-1.jpg") center, #d4c17f;
  background-size: cover;
}
.first_l:hover {
  background: url("img/detskaya-malchikovaya-komnata-dizain-krasi-1.jpg") center
    no-repeat;
  background-size: cover;
}
.second_l {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #1f3643 100%),
    url("img/teen-bedroom.jpg") center, #d4c17f;
  background-size: cover;
}
.second_l:hover {
  background: url("img/teen-bedroom.jpg") center no-repeat;
  background-size: cover;
}
.third_l {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #1f3643 100%),
    url("img/kitchen.jpg") center, #d4c17f;
  background-size: cover;
}
.third_l:hover {
  background: url("img/kitchen.jpg") center no-repeat;
  background-size: cover;
}
.fourth_l {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #1f3643 100%),
    url("img/Luxury-Italian-Living-Room.jpg") center, #d4c17f;
  background-size: cover;
}
.fourth_l:hover {
  background: url("img/Luxury-Italian-Living-Room.jpg") center no-repeat;
  background-size: cover;
}
/*третья секция закончена*/
.fourth_section {
  background: linear-gradient(
      180deg,
      #1f3643 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #1f3643 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url("img/towers.jpg") center, #c4c4c4;
  padding: 80px 0 180px 0;
}
.of_fos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.first_of_fos > h2 {
  margin-bottom: 50px;
}
.first_of_fos > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.first_of_fos {
  max-width: 540px;
  margin-right: 35px;
}
.divforform {
  max-width: 540px;
  display: flex;
  align-self: flex-end;
}
.form_client > input {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 250px;
  height: 50px;
  text-align: center;
  color: white;
}
.form_client > input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #bebebe;
  text-align: center;
}
.form_client:nth-child(3),
.form_client:nth-child(4) {
  margin-bottom: 0;
}
.form_client {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
}
.form_client:nth-child(2n) {
  margin-right: 0;
}
.form_client > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
  white-space: nowrap;
}
.formofclient {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: flex-end;
}
.form_client > button {
  background: #d4c17f;
  color: white;
  width: 250px;
  height: 50px;
  border: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}
/*Четвертая секция закончена*/
.video {
  padding: 45px 0 145px 0;
  background: #1f3643;
  overflow: hidden;
}
.video_div {
  background: linear-gradient(0deg, #1f3643, #1f3643);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.video_div::after {
  content: "IV";
  position: absolute;
  font-family: "Playfair Display";
  font-size: 400px;
  text-align: center;
  color: #ffffff;
  opacity: 0.02;
  margin-left: -10px;
  margin-top: 60px;
  z-index: -1;
}
video {
  cursor: pointer;
}
.video_div {
  position: relative;
}
.play_button {
  background: url("img/playbutton.png") center/ cover;
  position: absolute;
  left: 44%;
  top: 40%;
  border: none;
  z-index: 0;
  height: 100px;
  width: 100px;
  cursor: pointer;
  pointer-events: none;
}
/*секция с видео готова*/
.map_area {
  padding: 0 0 180px 0;
  background: #1f3643;
}
.of_map_area {
  display: flex;
  flex-direction: column;
}
.map {
  margin-top: 100px;
  width: 1110px;
  height: 358px;
  position: relative;
}
.map > iframe {
  opacity: 0.5;
  transition: 0.5s;
}
.map > iframe:hover {
  opacity: 1;
  transition: 0.5s;
}
.map::before {
  content: "V";
  position: absolute;
  font-family: "Playfair Display";
  font-size: 400px;
  text-align: center;
  color: #ffffff;
  opacity: 0.08;
  margin-left: -110px;
  margin-top: -165px;
  z-index: 1;
}
/*Секция с картой закончена*/
.questions {
  background: #1f3643;
  padding: 0 0 180px 0;
}
.of_questions {
  display: flex;
  flex-direction: column;
}
.second_form {
  margin-top: 50px;
}
.second_form > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.second_form > form > .form_client {
  margin-right: 30px;
}
.second_form > form > .form_client:last-child {
  margin-right: 0;
}
/*секция вопрос окончена*/
footer {
  background: #1f3643;
  padding: 70px 0 50px 0;
}
.of_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_divs,
.footer_divs > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_divs > ul > li {
  margin-bottom: 15px;
}
.footer_divs > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer_divs:last-child {
  margin-right: 0;
}
.social {
  display: flex;
  flex-direction: row;
}
.social > a {
  margin-right: 20px;
}
.social_icons {
  fill: white;
  width: 25px;
  height: 25px;
}
.social > a:hover,
:focus .social_icons,
.social_icons:hover {
  fill: #d4c17f;
}
/*закончено*/
/*Верстка фокусов и ховеров*/
._error {
  box-shadow: 0 0 15px rgba(255, 4, 4, 0.5);
}
.formofclient {
  position: relative;
}
.formofclient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f3643 url("img/loading.gif") center/ 50px no-repeat;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.formofclient._sending::after {
  opacity: 1;
  visibility: visible;
}
.form_client > button:hover,
.form_client > button:focus {
  cursor: pointer;
  background: white;
  color: #d4c17f;
}
img:hover {
  cursor: pointer;
}
ul > li > a::before,
ul > li > a::after {
  position: absolute;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

ul > li > a::before {
  position: absolute;
  margin-right: 10px;
  content: "[";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

ul > li > a::after {
  position: absolute;
  margin-left: 10px;
  content: "]";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

ul > li > a:hover::after,
ul > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

ul > li > a:hover::before,
ul > li > a:focus::before {
  opacity: 1;
  -webkit-transform: translateX(-14px);
  -moz-transform: translateX(-14px);
  transform: translateX(-14px);
}
input:invalid {
  box-shadow: 0 0 10px red;
}
/*Адаптивность*/
@media (max-width: 1109px) {
  .px1110 {
    width: 100%;
    max-width: 1110px;
  }
  .map {
    width: 100%;
    max-width: 1110px;
    padding: 20px;
  }
  .of_ts > div > h2,
  .of_questions > div > h2,
  .of_map_area > div > h2 {
    margin-left: 20px;
  }
  .third_section {
    padding: 100px 0 0 0;
  }
  .of_fos {
    justify-content: space-evenly;
  }
  .fourth_section {
    padding: 80px 20px;
  }
  .formofclient {
    flex-direction: column;
  }
  .form_client {
    margin-right: 0;
  }
  .form_client:nth-child(3),
  .form_client:nth-child(2) {
    margin-bottom: 20px;
  }
  footer {
    padding: 70px 20px 50px 20px;
  }
  iframe {
    width: 100%;
  }
  .second_form > form {
    justify-content: center;
  }
  .second_form > form > .form_client:nth-child(3) {
    margin-right: 0px;
  }
  .questions {
    padding: 0 0 100px 0;
  }
  .apartments {
    margin: 100px auto 0 auto;
    justify-content: center;
  }
  .lofts {
    height: 256px;
    width: 428px;
  }
  video {
    height: 100%;
  }
  .video {
    padding: 45px 0 120px 0;
  }
}
@media (max-width: 920px) {
  .lofts {
    height: 204px;
    width: 342px;
  }
}
@media (max-width: 809px) {
  .second_section {
    padding: 80px 0;
  }
  .second_form {
    display: flex;
    width: 525px;
    margin: 50px auto;
  }
  .second_form > form {
    width: 100%;
    display: flex;
    min-height: 125px;
    justify-content: space-between;
    align-content: space-between;
  }
  .second_form > form > .form_client {
    margin: 0;
  }
  .map_area {
    padding: 0 0 100px 0;
  }
  .questions {
    padding: 0 0 80px 0;
  }
  .menu_list li {
    margin-left: 20px;
  }
}
@media (max-width: 760px) {
  .apartments {
    flex-direction: column;
  }
  .lofts {
    height: 320px;
    width: 535px;
    margin-right: 0;
  }
  .lofts:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 703px) {
  .play_button {
    height: 60px;
    width: 60px;
    left: 46%;
  }
  .four_about > p {
    margin-top: 25px;
  }
  .second_section {
    padding: 0;
  }
  .third_section {
    padding: 50px 0 0 0;
  }
  .burger_button {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .burger_button > span {
    height: 2px;
    top: 9px;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
  }
  .burger_button::before,
  .burger_button::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s;
  }
  .burger_button::before {
    top: 0;
  }
  .burger_button::after {
    bottom: 0;
  }
  .header {
    position: fixed;
    z-index: 3;
    padding: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #1f3643 50%, transparent);
  }
  .main {
    margin-top: 80px;
  }
  .menu {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    background-color: #1f3643;
  }
  .menu.active {
    left: 0;
  }
  .logo {
    z-index: 1;
  }
  .burger_button {
    z-index: 1;
  }
  .menu_list {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger_button.active::before {
    transform: rotate(45deg);
    transition: 0.5s;
    top: 8px;
  }
  .burger_button.active::after {
    transform: rotate(-45deg);
    transition: 0.5s;
    bottom: 10px;
  }
  .burger_button.active > span {
    display: none;
  }
  body.active {
    overflow: hidden;
  }
  .shadow {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  }
  .footer_divs:nth-child(1) {
    display: none;
  }
  /**/
  .of_ss {
    justify-content: center;
  }
  .four_about {
    width: 40%;
    margin-bottom: 20px;
  }
  .header {
    pointer-events: none;
  }
  .shadow,
  .menu_list > li > a {
    pointer-events: all;
  }
  .video {
    padding: 45px 0 80px 0;
  }
}
@media (max-width: 574px) {
  .footer_divs:nth-child(4) {
    width: 100%;
    margin-top: 15px;
    align-items: center;
  }
  .footer_divs,
  .footer_divs > ul {
    text-align: center;
  }
}
/*Закончил бургер меню верстать*/
@media (max-width: 569px) {
  .video {
    padding: 45px 0 40px 0;
  }
  .lofts {
    height: 256px;
    width: 428px;
  }
  .fourth_section {
    padding: 40px 20px;
  }
  .second_form > form,
  .of_fos {
    flex-direction: column;
  }
  .second_form {
    max-width: 525px;
    width: auto;
  }
  .address {
    width: 80%;
  }
  .second_form > form > .form_client,
  .form_client {
    margin-bottom: 15px;
  }
  .divforform {
    margin: 20px auto;
  }
  .questions {
    padding: 0;
  }
  .apartments {
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 499px) {
  .play_button {
    left: 43%;
    top: 37%;
  }
  .address {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .address > div {
    margin-top: 15px;
  }
  .add::before {
    margin-left: -135px;
  }
  .tel::before {
    margin-left: -95px;
  }
  .map {
    height: 300px;
    margin-top: 50px;
  }
  iframe {
    height: 100%;
  }
  .map_area {
    padding: 0 0 20px 0;
  }
}
@media (max-width: 459px) {
  .lofts {
    height: 204px;
    width: 342px;
    padding: 20px;
  }
  .fourth_section {
    padding: 40px 20px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px !important;
  }
  .four_about > p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 384px) {
  .lofts {
    height: 163px;
    width: 273px;
  }
  .four_about:nth-child(1):after,
  .map:before,
  .apartments::before,
  .video_div::after {
    font-size: 200px;
  }
  .of_footer {
    flex-direction: column;
  }
  footer {
    padding: 10px;
  }
}
@media (max-width: 374px) {
  .map {
    height: 240px;
  }
}
